.gallery-body {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  overflow: hidden;
}

.gallery-wrapper {
  background: url("https://cdn.pixabay.com/photo/2019/07/30/19/09/bbq-4373644_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    height: 500%;
    max-height: 4100px;
    z-index: 1;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(38, 35, 40, 0.6);
  }
}

.gallery-content {
  position: relative;
  max-width: 60%;
  text-align: center;
  top: -50px;
  z-index: 99;
}

.gallery-header {
  position: relative;
  padding: 1rem 0;
  margin-bottom: 40px;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.318;
    word-wrap: break-word;
    color: #fff;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 80px;
      height: 2px;
      margin-left: -40px;
      z-index: 1;
      background-color: #c84646;
    }
  }
}

.gallery-text {
  text-align: center;
  padding-bottom: 50px;
}

.gallery-images-wrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 40px auto;
  transform: translateY(-150px);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 50vh;
    margin-bottom: -241px;
    z-index: 0;
    background-image: linear-gradient(to bottom, rgba(35, 40, 39, 0.0999), #262328);
  }

  .gallery-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0 auto 100px auto;
    width: 100%;

    .img-wrapper-pad {
      padding-left: 20px;
    }

    .img-wrapper {
      flex-basis: 33.333%;
      width: 90%;
      flex-direction: column;
      flex-grow: 0;
      flex-shrink: 0;
      // margin: 0 0 20px;

      img {
        object-fit: contain;
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

// @media screen and (max-width: 599px) {
//   .gallery-images {
//     max-height: 55vh;
//   }
// }
