.attendance {
  min-height: 60vh;
}

.attendance-list {
  width: 100%;
  height: 100%;
  background-color: lighten($color: #12111b, $amount: 10);
  box-shadow: 0px 4px 10px rgba($color: #f4f4f4, $alpha: 0.1);
  border-radius: 5px;

  h5 {
    font-weight: 600;
    font-size: 23px;
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid rgba($color: white, $alpha: 0.2);
  }

  .btn-con {
    padding: 0.75rem 1.5rem;
    button {
      padding: 10px 25px;
      background-color: #dc3432;
      border-radius: 3px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      border: none;
      outline: none;

      &:hover {
        background-color: darken($color: #dc3432, $amount: 15);
      }
    }
  }

  .filter-con {
    padding: 0.75rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .search {
      display: flex;
      align-items: center;

      input {
        outline: none;
        width: 500px;
        height: 40px;
        padding: 0.5rem;
        color: black;
        border-radius: 3px;

        &::placeholder {
          color: black;
        }
      }
    }
  }

  .table {
    width: 100%;
    padding: 0.75rem 1.5rem;
    table {
      width: 100%;
      text-align: center;
    }

    td,
    th {
      margin: 1rem 0;
      border-bottom: 1px solid rgba($color: white, $alpha: 0.2);
      padding: 0.75rem;
    }
  }
}
.center-big {
  font-size: 23px;
  text-align: center;
  padding: 1.5rem 0;
  font-weight: bold;
}
