.footer-wrapper {
  padding-top: 5rem;
}

.footer-widget-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 3rem 0;

  .footer-widget {
    padding: 0 20px;
  }

  .bg-overlay {
    position: relative;
    background: url("https://cdn.pixabay.com/photo/2016/08/04/11/56/smoke-1568953_1280.jpg")
      no-repeat center center/cover;
    height: 100%;
    padding: 80px 40px;
    box-shadow: 0 3px 20px #333333;
    text-align: center;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: inherit;
      width: 100%;
      transition: all 0.4s ease 0s;
      background-color: rgba(black, 0.4);
      z-index: 1;
    }

    .visit-us-content {
      z-index: 2;

      .title {
        margin-bottom: 20px;
        font-size: 18px;
        text-transform: uppercase;
        color: white;
      }

      .btn-wrapper {
        display: block;
        position: relative;
        bottom: 0;
        padding: 40px 0 0;
        transition: all 0.4s ease 0s;
      }
    }
  }

  .widget-title {
    position: relative;
    padding: 0 0 20px;
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .widget-content {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.618;
    text-align: center;
  }

  .fy-day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    font-size: 15px;
    border-bottom: 2px dotted rgba(234, 234, 234, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
  }

  .footer-about-us {
    text-align: center;
  }

  .widget-btn {
    color: #fff;
    background-color: transparent;
    border-color: #c84646;
    display: inline-block;
    position: relative;
    padding: 10px 40px;
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 24px;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    outline: 0;
    color: #eaeaea;
    background-color: transparent;
    border: 2px solid #c84646;
    border-radius: 3px;
    transition: all 0.4s ease 0s;

    &:hover {
      text-shadow: none;
      color: #fff !important;
      background-color: #c84646;
      -webkit-text-fill-color: #fff !important;
    }
  }
}

.footer-contact-info {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px 80px;
  color: #fff;
  background-color: #2b272e;
  box-shadow: 0 1px 10px #333333;

  .footer-address .fy-directions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem 0;

    * {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;
    }

    .fy-icon {
      margin-right: 10px;
    }

    svg.icon {
      background-color: #fff !important;
    }
  }

  .footer-socials {
    margin-top: 1rem;

    .footer-socials-nav ul {
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        padding: 1rem;
      }
    }
  }
}

.footer-copyright {
  padding: 4rem 0;

  text-align: center;

  .copyright-nav {
    padding: 1rem 0;
    display: flex;
    justify-content: center;

    nav > ul {
      display: flex;

      li {
        display: inline-block;
        position: relative;
        padding-right: 20px;
        font-family: "Quicksand", Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;

        &:not(:nth-child(3)):after {
          content: "";
          display: inline-block;
          position: relative;
          top: -3px;
          right: -20px;
          width: 8px;
          height: 2px;
          margin-right: 20px;
          margin-left: -4px;
          background-color: rgba(255, 255, 255, 0.2);
        }

        a {
          color: rgba(255, 255, 255, 0.6);
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);

          &:hover {
            color: #fff;
            border-bottom: 1px solid #c84646;
          }
        }
      }
    }
  }

  .copyright {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.6);

    span {
      margin-top: 0.5rem;
    }
  }
}

// media queries
@media screen and (max-width: 768px) {
  .footer-widget-container {
    grid-template-columns: repeat(2, 1fr);

    & .visit-us {
      display: none;
    }
  }
}

@media screen and (max-width: 599px) {
  .footer-widget-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 599px) {
  .footer-contact-info {
    padding: 20px;

    .footer-address .fy-directions {
      * {
        margin-right: auto;
      }
    }
  }
}
