.search-wrapper {
  padding: 40px;
  position: absolute;
  bottom: -70px;
  left: 13%;
  // position: relative;
  border-radius: 20px;
  max-width: 70vw;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 44px 0 #333;

  @media (max-width: 1024px) {
    max-width: 85vw;
    left: 7%;
  }
}

form.search-form {
  display: flex;
  align-items: center;
  justify-content: center;

  .search-input {
    height: 2.5rem;
    padding: 0 15px;
    width: 70%;
    border: none;
    height: 55px;
    background: #f5f5f5;
    font-size: 16px;
    box-shadow: none;
    border-color: #e5e5e5;

    &::placeholder {
      font-size: 20px;
    }

    &:focus,
    :active {
      outline: none;
    }

    @media (max-width: 599px) {
      width: 100%;
      height: 1.5rem;
      margin-bottom: 15px;
    }
  }

  .search-btn {
    display: inline-block;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background: #dc3432;
    color: #fff;
    text-align: center;
    height: 55px;
    padding: 14px 25px;
    border-color: #dc3432;
    border-radius: 0 3px 3px 0;
    min-width: 150px;
    box-shadow: none;
    cursor: pointer;

    @media (max-width: 599px) {
      width: 100%;
    }
  }

  @media (max-width: 599px) {
    flex-direction: column;
  }
}
