* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* margin: 0; */
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #262328;
  color: rgba(234, 234, 234, .6);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .container {
  max-width: 85vw;
  margin: auto;
  padding: 1rem;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90vw;
  }
} */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  /* font-size: 15px;
  font-weight: 500;
  color: #fff; */
}

.btn {
  /*  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
 font-weight: normal; */
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* border-radius: 4px; */
}

.btn:focus {
  outline: 0;
}
