* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #12111b;
  color: #fff;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 85vw;
  margin: auto;
  padding: 1rem;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
}

.table-row {
  cursor: pointer;
  margin: 1rem 0;
}

.table-row:hover {
  background-color: #f4f4f4;
}
