.menu-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: auto;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   bottom: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 0;
  //   background-color: rgba(38, 35, 40, .6);
  // }

  .lg-menu-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("https://cdn.pixabay.com/photo/2016/03/05/20/06/abstract-1238655_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 110%;
      background-color: rgba(38, 35, 40, .7);
    }

    .menu-img-text {
      h2 {
        position: relative;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
        color: white;
        padding-bottom: 40px;
        letter-spacing: 2px;
        line-height: 1.2;

        &::after {
          content: '';
          position: absolute;
          width: 80px;
          height: 2px;
          background: #c84646;
          bottom: 0px;
          left: 50%;
          transform: translate(-50%);

        }
      }
    }
  }
}
